img {
    width: 40vw;
    margin: 5%;
    transform: translateX(50%);
    transform: translateY(10%);
    transition: 2000ms;
    opacity: 0; 
}

.addon {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    transition: 2000ms;
}
